<h3><%= name %></h3>
<% if(state !== 'done') { %>
   <label>
	    <input type="checkbox" id="toggleAllCheckboxes" />
		Mark all tasks as done
	</label>
<% } %>
<ul class="tasks-list">
	<% if(state === 'new' && !undone) { %>
	   <i>There are no new tasks</i>
	<% } %>
	<% if(state === 'inProgress' && !inProgress) { %>
	    <i>There are no tasks in progress</i>
	<% } %>
	<% if(state === 'done' && !done ) { %>
	    <i>There are no resolved tasks</i>
	<% } %>
</ul>
<footer class="column-footer">
<% if(state === 'new') { %>
   <b><%= undone %></b> <%= undone==1 ? 'task' : 'tasks' %> left
<% } %>
<% if(state === 'inProgress') { %>
   <b><%= inProgress %></b> <%= inProgress==1 ? 'task' : 'tasks' %> in progress
<% } %>
<% if(state === 'done') { %>
   <b><%= done %></b> <%= done==1 ? 'task' : 'tasks' %> completed
<% } %>
	
</footer>